@font-face {
    font-family: "Fustat-Light";
    src: url("./fonts/Fustat-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Fustat-Regular";
    src: url("./fonts/Fustat-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Fustat-Medium";
    src: url("./fonts/Fustat-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Fustat-ExtraBold";
    src: url("./fonts/Fustat-ExtraBold.ttf");
    font-weight: 800;
}